<% @order.line_items.each do |line_item| %>
  <li><%= line_item.product.name %></li>
  <%= image_tag line_item.product.image.thumb %>
  <li> <%= line_item.product.description %></li>
  <li> Quantity: <%= line_item.quantity %></li>
  <li>Total: $<%= line_item.total_price_cents / 100 %></li>
<% end %>