<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
        <dl class="dl-horizontal">
        <dt>Reviews </dt>
        <dd><% @product.ratings.reverse.each do |rating| %>
            <div class = "rating">'<%= rating.description %>' - <span class="name"><%= rating.user.name %></span></div>
           <% if current_user.id == rating.user_id %>
            <%= link_to 'Delete', [rating.product, rating],
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
          <% end %>
          <% end %></dd>
      </dl>
      </div>
    </div>
  </article>
<% if current_user %>
  <article>
  <h2> Add a review</h2>
  <%= form_for([@product, @product.ratings.build]) do |f| %>
    <%= f.label :Rating %> <br />
    <%= f.select :rating, [[1], [2], [3], [4], [5]]%> <br />
    <%= f.label :Review %> <br />
     <%= f.text_field :description %><br />
    <%= f.submit %>
  <% end %>
  </article>
<% end %>

</section>
