<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %> </h1>
    <h4> <%= render 'products/average' %> </h4>
    </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt class= "title">Name</dt>
          <dd><%= @product.name %></dd>
          <dt class= "title">Description</dt>
          <dd><%= @product.description %></dd>
          <dt class= "title">Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt class= "title">Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
        <dl class="dl-horizontal">
       <%= render 'products/review' %>
      </dl>
      </div>
    </div>
  </article>
<% if current_user %>
  <div class="add-review">
  <h2> Add a review</h2>
  <%= form_for([@product, @product.ratings.build]) do |f| %>
    <%= f.label :Review %> <br />
    <%= f.text_field :description %><br />
    <br />
    <%= f.label :Rating %> 
    <%= f.select :rating, [[1], [2], [3], [4], [5]]%> <br />
    <%= f.submit %>
  <% end %>
  </div>
<% end %>

</section>
